[user]
	name = Fledge Shiu
	email = xzk0701@gmail.com
	signingkey = 06653E25FAB12AA63E7C38F7AE9D5B70A2403C66
[core]
	editor = nvim
	excludesfile = /Users/fledge/.gitignore
	ignorecase = false
	autocrlf = input
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[init]
	defaultBranch = main
